body{
   color: blue;
   text-align: center;
   font-family: "Arial";
   font-size: 40px;
   margin: 0;
   padding: 0;
}

#cabecera{
   background: #33A;
   box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.75);
   font-weight: bold;
   color: white;
   margin: 0;
   padding: 0.5;
}

#container{
   width: 70%;
   padding: 0;
   text-align: left;
   border: 1px solid #DDD;
   margin: 0 auto;
}

p{
   font-size: 25px;
}

#container h1{
   font-size: 35px;
}